In [ ]:
#this is my day one in python
print("hello world   !")

hello world   !

DATA TYPES

In [ ]:
a  = True

In [ ]:
b = 6+5j

In [ ]:
type(b)

complex

In [ ]:
a #calling a object or referencing a value

100

In [ ]:
a = 130 # variable declaration

In [ ]:
b = 45

In [ ]:
addition = a + b

In [ ]:
print(addition)

175

In [ ]:
 # python accepts the latest value in memory

a ............ 130
              








              300

In [ ]:
# python is case sensitive   capital is not equal small letter
A = 780

In [ ]:
 milk = "345"

In [ ]:
print(int(milk))  # type conversion : converting a data type into another                     1. int to float type conversion is possible
                     # 2. float to int ty.conv is possible   3. float to str is possible        4. str to int con is not possible
                     # 5. str to float is not possible  6. numericalstring to float is possible

345

In [ ]:
a = 6+8j
type(a)

complex

17 - 05 - 2023
  10   10    10            50567
                                10  

                                17
                                  31

In [ ]:
 stu_name = str(input("enter student name:"))
 stu_id = input("enter id value")
 mark1 = float(input("enter mark1:   "))
 mark2 = float(input("enter mark2:   "))
 mark3 = float(input("enter mark3:   "))
 total = mark1 +mark2+ mark3
 avg = total /3
 print("the average is ",avg)

KeyboardInterrupt: ignored

In [ ]:
ramesh = 500
kumar = 2000
rajesh = 1000
tour_amount = ramesh+kumar+rajesh
aver_spending = tour_amount/3
print("a person can spend rs:",aver_spending)

a person can spend rs: 1166.6666666666667

eb_bill = const_fee + 5 * unit

In [ ]:
customer_name = str(input("enter customer name:"))
customer_eb_id = str(input("enter customer id"))
const_fee = 100
units_of_usage =float(input("enter units value:"))
eb_bill = const_fee + 5 * units_of_usage
print("the eb_bill for MR/Mrs:",customer_name, "is",eb_bill)

enter customer name:sasi
enter customer id789
enter units value:456
the eb_bill for MR/Mrs: sasi is 2380.0

In [ ]:
a = int(input("enter a value"))
b = int(input("enter b value"))

enter a value56
enter b value8

In [ ]:
c = a*a + b*b +2*a*b

In [ ]:
print(c)

4096

In [ ]:
#write a  python code to find a square root of a number
num = int(input("num:"))
sqrt = num ** 0.5
print(sqrt)

num:11
3.3166247903554

In [ ]:
# data 
apple 
kjgjg67

h
x 
9
6.7
-5
7%$#^%#^%#^%#

In [ ]:
# container 
 variable 

 a = 100

 a = a+100 
 a var = 100

 constant 

  universal constant = days = 7  98.4 3.14  365  30

  local constant =  Si = 7 city 7.4

In [ ]:
sasi = 100  # object(variable) = operator value(data)

# numerical  575757
# alphabetical asfdhgasfd 
# alphanumerical c100

primitive data types  or primary data type or inbuild - buildin

In [ ]:
# numerical data = integer ( whole numbers ) 7 , 100, 56,67576575
                  # float (decimal) 0.8,0.00, 8.9,-3.14
                  # complex (real, imaginary) (7 + 5j)
# alphabetical  string data type = "india" , 'india' ,"687686" , "752" , '7687'

# boolean  = True , False

In [ ]:
a = 79879
b = 7678.767
c ='chennai'
d = True
e = 3+8j

In [ ]:
#a = 'ghgjh' egg = data  structure

In [ ]:
type(d)

bool

In [ ]:
s = 68768
t = 89.7
addit =  s + t
print(addit)   # exception handling / error management

68857.7

In [ ]:
# getting the value on run time 

s = int(input("enetr s value:"))
t = float(input("enetr the t value:"))
addit = s + t
print(addit)

enetr s value:6
enetr the t value:7
13.0

In [ ]:
s

68768

In [ ]:
8

enetr student name:kjfhksjd
enetr the id num:hdjksh
enetr mark1 value:78
enetr mark2 value:68
enetr mark3 value:87
enetr mark4 value:78
hi kjfhksjd hope your id is: hdjksh final exam score is: 396.0 the average you holds: 79.2

TYpe conversion / data type conversion

In [ ]:
s = '90.9'
print(int(s))  # int to float is possible , float to int is possible # string to int / float is not possible

ValueError: ignored

In [ ]:
8 / 6 / 2023   0 - 7   11 = 3  700
                                  10
                            8
 10  10     10

In [ ]:
s = int(input("s "))  # while assinging input is not possible to replace a integer by float

s 67.9

ValueError: ignored